.App {
  text-align: center;
}

.result {
  margin: 0.2em;
  font-size: 4em;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 10em;
  margin: auto;
  margin-top: 2em;
}

input {
  margin: 0.4em;
}